
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 150px;
    height: 75px;
}
body {
    display: flex;
    background-image: url('img/fundoMestre.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #f2f2f2;
    justify-content: space-between;
}


.nav-bar{ /*Barra de navegacao*/
    background-image: url('img/nav2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80px; /* Ajuste a altura conforme necessário */
    display: flex;
    align-items: center;
    color: white; /* Cor do texto */
    font-family: Arial, sans-serif;
    position: fixed; /* Torna a barra de navegação fixa */
    top: 0; /* Afixa a barra de navegação no topo da janela do navegador */
    left: 0; /* Afixa a barra de navegação no lado esquerdo da janela */
    right: 0; /* Afixa a barra de navegação no lado direito da janela */
    padding: 0;
    margin: 0;

}

/* -Cronometro*/

.barraTimer{ /*Barra do cronometro*/
    display: inline-flex;
    justify-content: space-between;
    text-align:start;
    background-color: #D9D9D9;
    border-style:solid;
    border-width:2px;
    border-color:#CDCAAC ;
    margin-left:15% ;
    box-sizing: content-box;
    min-width: 100px;
    max-width: 370px;
    height: 50px;
    align-items: center;
}

.Timer {
    height:50px;
    width: 50px;
    background-color: #898989;
    image-resolution: 150%;
    border-color: black;
}

.Contador{ /*String do contador*/
    width: 100px;
    font-size:20px;
    justify-content: center;
    color: black;
    font-family: 'Metal Mania';
   
}


.buttonsTimer{
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}

.imgTimer{
    width: 50px;    
    height: 50px;
    background-color: transparent;

}


/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/


/* Sistema de dados*/
.barraDados{
    display: inline-flex;
    justify-content: start;
    align-items: center;
    background-color: #D9D9D9;
    border-style: solid;
    border-width:2px;
    border-color: #CDCAAC;
    margin-right: 5%;
    margin-left: 20%;
    padding: 1px;
    box-sizing: content-box;
    min-width: 300px;
    max-width: 690px;
    height: 55px;
    background-color: #D9D9D9;
    border-style: solid;
    border-width: 2px;
    border-color: #CDCAAC;
    overflow: hidden;
    border-radius: 3%;

}

.imgDice{
    align-items: center;
    max-width: 100%;
    height: 48px;
    margin-top: 5%;
    background-color: transparent;
}

.buttonsNice{
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 5%;
    
}


.resultDice{
    width: 50px;
    height:50px;
    margin: 5px;
    font-size: 45px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #a8a8a877;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 5%;
    position: relative;
    
}

/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/


.imgDice{
    width: 50px;    
    height: 50px;
    background-color: transparent;
}

.buttonsDice{
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}


.viewFile{ /*Aba de visualizacao de arquivos dpo mestre*/
    min-width: 700px;
    max-width: 1200px;
    min-height: 350px;
    max-height: 1200px;
    padding: 10px;
    margin-left: 2%;
    margin-top: 7%;
    margin-bottom: 1%;
    background-color: rgba(243, 230, 214, 0.815); /* O último valor (0.5) controla a transparência (de 0 a 1) */
    border-style: solid;
    border-width: 2px;
    border-color: #CDCAAC;
    overflow: hidden;
    border-radius: 3%;
    position: relative;
  /* Adicione position: relative para criar um contexto de posicionamento para elementos filhos */
    font-family: Metal Mania;
    font-size: 18px;
   
   
}

.masterlibrary{/*Biblioteca do mestre*/

    min-width: 400px;
    max-width: 1000px;
    min-height: 600px;
    max-height: 900px;
    padding: 10px;
    margin-left: 5%;
    margin-top: 7%;
    margin-bottom: 1%;
    background-color: rgba(243, 230, 214, 0.815); /* O último valor (0.5) controla a transparência (de 0 a 1) */
    border-style: solid;
    border-width: 2px;
    border-color: #CDCAAC;
    overflow: hidden;
    border-radius: 3%;
    position: relative
}

.tabTitle{
    width: 150px;
    height: 40px;
    margin-top: -5.6%;
    margin-left: -0.2%;
    background-color: #898989;
    border-style:solid;
    border-width:2px;
    border-color:#CDCAAC
}


/* Biblioteca do mestre*/

.image-container {
    min-width: 400px;
    max-width: 1000px;
    min-height: 400px;
    max-height: 900px;
    border: 1px solid #ccc;
}

.hidden {
    display: none;

}

.btnLibrary{
    border: none;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 3px;
    font-size: 15px;
}

.btnLibrary img{
    width: 35px;
    height: 35px;
}

.libraryOptions{
    display: contents;
    margin-top: 6px;    

}

.btnLibraryTitulos{
    border: none;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 3px;
    font-weight: 900;

}




