
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-image: url('img/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #f2f2f2;
}

.header{
    display: flex;
}

.nav {
    background-image: url('img/nav2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
    display: flex;
    align-items: center;


  max-width: auto;
  min-width: 350px;

    justify-content: space-between;
    color: white; /* Cor do texto */
    font-family: Arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    
}

.logo {
    width: 150px;
    height: 75px;
}



.temporario{
    bottom: auto;
}

/* -Cronometro*/

.barraTimer{ /*Barra do cronometro*/
    display: inline-flex;
    justify-content: space-between;
    text-align:start;
    background-color: #D9D9D9;
    border-style:solid;
    border-width:2px;
    border-color:#CDCAAC ;
    margin-left:15% ;
    box-sizing: content-box;
    width: 350px;
    height: 50px;
    align-items: center;
}

.Timer {
    height:50px;
    width: 50px;
    background-color: #898989;
    image-resolution: 150%;
    border-color: black;
}

.Contador{ /*String do contador*/
    width: 100px;
    font-size:20px;
    justify-content: center;
    color: black;
    font-family: 'Metal Mania';
   
}


.buttonsTimer{
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}

.imgTimer{
    width: 50px;    
    height: 50px;
    background-color: transparent;

}





/* Sistema de dados*/
.barraDados{
    display: inline-flex;
    justify-content: start;
    background-color: #D9D9D9;
    border-style: solid;
    border-width:2px;
    border-color: #CDCAAC;
    margin-right: 5%;
    margin-left: 20%;
    box-sizing: content-box;
    width: 423px;
    height: 55px;

}

.imgDice{
    width: 50px;    
    height: 50px;
    background-color: transparent;
}

.buttonsDice{
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}


.resultDice{
    width: 53px;
    height:55px;
    margin-top:0%;
    margin-left: 2%;
    font-size: 45px;
    text-align: center;
    color: green;
    background-color: #898989;
}

/*Visualizacao das ficha e anotacoes*/
.viewFile{ /*Aba de visualizacao de arquivos dpo mestre*/
    width: 900px;
    height: 650px;
    padding: 10px;
    margin-left: 5%;
    margin-top: 10%;
    background-color: rgb(243, 230, 214);
    border-style:solid;
    border-width:2px;
    border-color:#CDCAAC;
    overflow: hidden;
    
   
   
}

/* botao de editar ficha*/
.btnEdit{
position: fixed;
margin-top: 0px;
margin-left: 870px;
padding: 1px;
}
.btnEdit img{
    width: 25px;
    height: 25px;
    background-color: transparent;
}
.btnEdit button{
    background-color: transparent;
    border: none;
}

/*Informaçoes basicas*/

.basicInformation{
   margin: 5px;
   padding: 2px;
}

.basicInformation div{
    display: inline-flex ;
    margin: 2px;
    padding: 2px;
}


/* Valores de habilidade*/
.abilityValues{
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 5px;
}




.anotacoes{/*Biblioteca do mestre*/

    width: 470px;
    height: 500px;
    margin-top: -27.95%;
    margin-left: 65%;
    background-color: #898989;
    border-style:solid;
    border-width:2px;
    border-color:#CDCAAC
}

.tabTitle{
    width: 150px;
    height: 40px;
    margin-top: -5.6%;
    margin-left: -0.2%;
    background-color: #898989;
    border-style:solid;
    border-width:2px;
    border-color:#CDCAAC
}
